.feature {
    
    align-items: center;
    padding-top: 7.0rem;
    padding-bottom: 7.0rem;

    @media (min-width: 900px) {
        display: flex;
    }
}

.feature__content {
    padding-bottom: 30px;
    border-bottom: 5px solid $mainColor;
    order: 1;

    @media (min-width: 900px) {
        width: 32%;
        margin-right: 8%;
    }

    h2 {
        @mixin sectionHeading;
    }
}

.feature__image {
    margin-bottom: 30px;
    order: 2;
    @media (min-width: 900px) {
        width: 60%;
        margin-bottom: 0;
    }
}