/*! formstone v1.4.6 [navigation.css] 2018-05-01 | GPL-3.0 License | formstone.it */
.fs-navigation,.fs-navigation *,.fs-navigation :after,.fs-navigation :before,.fs-navigation:after,.fs-navigation:before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:none;transition:none;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-navigation-toggle-nav.fs-navigation-enabled{display:none}.fs-navigation-toggle-nav.fs-navigation-open{display:block}.fs-navigation-toggle-handle.fs-navigation-enabled{border:none;padding:0;width:100%;cursor:pointer;display:block}.fs-navigation-overlay-nav.fs-navigation-enabled,.fs-navigation-push-nav.fs-navigation-enabled,.fs-navigation-reveal-nav.fs-navigation-enabled{width:270px;height:100%;height:calc(100% + 60px);position:fixed;top:0;background:#fff;display:block;overflow:auto;-webkit-overflow-scrolling:touch}.fs-navigation-push-nav.fs-navigation-enabled,.fs-navigation-reveal-nav.fs-navigation-enabled{visibility:hidden}.fs-navigation-reveal-nav.fs-navigation-animated{-webkit-transition:visibility 1ms linear .2s;transition:visibility 1ms linear .2s}.fs-navigation-overlay-nav.fs-navigation-animated,.fs-navigation-push-nav.fs-navigation-animated{-webkit-transition:visibility 1ms linear .2s,-webkit-transform .2s ease;transition:visibility 1ms linear .2s,-webkit-transform .2s ease;transition:transform .2s ease,visibility 1ms linear .2s;transition:transform .2s ease,visibility 1ms linear .2s,-webkit-transform .2s ease}.fs-navigation-push-nav.fs-navigation-enabled,.fs-navigation-reveal-nav.fs-navigation-enabled{z-index:0}.fs-navigation-overlay-left-nav.fs-navigation-enabled,.fs-navigation-push-left-nav.fs-navigation-enabled,.fs-navigation-reveal-left-nav.fs-navigation-enabled{left:0}.fs-navigation-overlay-right-nav.fs-navigation-enabled,.fs-navigation-push-right-nav.fs-navigation-enabled,.fs-navigation-reveal-right-nav.fs-navigation-enabled{right:0}.fs-navigation-overlay-left-nav.fs-navigation-enabled,.fs-navigation-push-left-nav.fs-navigation-enabled{-webkit-transform:translate3D(-270px,0,0);transform:translate3D(-270px,0,0)}.fs-navigation-overlay-right-nav.fs-navigation-enabled,.fs-navigation-push-right-nav.fs-navigation-enabled{-webkit-transform:translate3D(270px,0,0);transform:translate3D(270px,0,0)}.fs-navigation-overlay-nav.fs-navigation-enabled{z-index:3}.fs-navigation-reveal-nav.fs-navigation-open{visibility:visible;-webkit-transition:visibility 1ms ease;transition:visibility 1ms ease}.fs-navigation-overlay-nav.fs-navigation-open,.fs-navigation-push-nav.fs-navigation-open{-webkit-transform:translate3D(0,0,0);transform:translate3D(0,0,0);-webkit-transition:visibility 1ms ease,-webkit-transform .2s ease;transition:visibility 1ms ease,-webkit-transform .2s ease;transition:transform .2s ease,visibility 1ms ease;transition:transform .2s ease,visibility 1ms ease,-webkit-transform .2s ease;visibility:visible}.fs-navigation-overlay-handle.fs-navigation-enabled,.fs-navigation-push-handle.fs-navigation-enabled{border:none;padding:0;cursor:pointer;display:block}.fs-navigation-overlay-content:before{width:100%;height:100%;height:calc(100% + 60px);position:fixed;top:0;right:0;bottom:0;left:0;z-index:2;background:#fff;background:rgba(255,255,255,.75);content:'';display:block;opacity:0;-webkit-transition:opacity .2s ease,visibility .2s ease;transition:opacity .2s ease,visibility .2s ease;visibility:hidden}.fs-navigation-overlay-content.fs-navigation-open:before{opacity:1;visibility:visible}.fs-navigation-push-content.fs-navigation-enabled,.fs-navigation-reveal-content.fs-navigation-enabled{position:relative;z-index:1;display:block;overflow:hidden;-webkit-transform:translate3D(0,0,0);transform:translate3D(0,0,0)}.fs-navigation-push-content.fs-navigation-animated,.fs-navigation-reveal-content.fs-navigation-animated{-webkit-transition:-webkit-transform .2s ease;transition:-webkit-transform .2s ease;transition:transform .2s ease;transition:transform .2s ease,-webkit-transform .2s ease}.fs-navigation-push-left-content.fs-navigation-open,.fs-navigation-reveal-left-content.fs-navigation-open{-webkit-transform:translateX(270px);transform:translateX(270px)}.fs-navigation-push-right-content.fs-navigation-open,.fs-navigation-reveal-right-content.fs-navigation-open{-webkit-transform:translateX(-270px);transform:translateX(-270px)}.fs-navigation-handle.fs-navigation-enabled{border:none;padding:0}.fs-navigation-lock{overflow:hidden!important}

/* Theme Nav Styles */

.main-navigation {
    ul {

        > li {
            position: relative;
            padding: 0 0 15px 0;

            &:hover {
                ul {
                    opacity: 1;
                    transform: scale(1) translateY(0);
                    visibility: visible;
                }
            }

            > a {
                padding: 0 0 0px 0;
                display: block;
            }
        }

        .current-menu-item,
        .current-menu-ancestor,
        .current_page_parent,
        .current_page_item {

          > a {
            border-bottom: 3px solid $mainColor;
          }
        }

        > li.menu-item-has-children {
            > a {

              &:after {
                display: inline-block;
                height: 1px;
                width: 1px;
                border-top: 7px solid #fff;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                content: '';
                margin: 0 0 3px 6px;
                vertical-align: middle;
              }
            }
        }

        ul {
            display: block;
            position: absolute;
            width: 250px;
            background: rgba(255,255,255,.2);
            top: 100%;
            margin: 0 0 0 -125px;
            padding: 0;
            left: 50%;
            opacity: 0;
            visibility: hidden;
            transition:
              opacity 0.1s linear,
              transform 0.1s linear,
              visibility 0.1s linear;
            transform: scale(0.95) translateY(-3px);
            padding: 1.0rem;

            &:before {
                position: absolute;

              height: 1px;
              width: 1px;
              top: -6px;
              right: 0;
              left: 0;
              border-bottom: 6px solid rgba(255,255,255,.2);
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
              content: '';
              margin: 0 auto;
            }
            

            li {
                margin: 0;
                padding: 0;
            }

            .current-menu-item,
            .current-menu-ancestor,
            .current_page_item {

              > a {
                border: 0;
              }
            }

            a {
                display: block;
                padding: 0;
                border: 0;

                &:hover {
                    color: $mainColor;
                }
            }

        }
    }
}




.subnav .page_item {
    display: none;
}

.subnav .current_page_item, .subnav .current_page_parent {
    display: block;
}

.subnav .current_page_item .page_item {
    display: block;
}

.subnav .menu > ul > .current_page_parent > a, .subnav .menu > ul > .current_page_item > a {
    @mixin borderedHeading;
    color: #000;
    font-family: $headingFont;
    width: 100%;
    display: block;
    margin-bottom: 1.0rem;
}

.subnav ul ul a {
    color: #000;
}

.subnav ul ul .current_page_item a {
    color: $mainColor;
}

.mobile-nav-trigger {
    color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
    line-height: 1.8rem;
}

.mobile-navigation  {
    &.fs-navigation-enabled {
        background: $backgroundColor;
        padding: 3.0rem;
    }

    li {
        border-top: 1px solid $borderColor;

        &:last-child {
            border-bottom: 1px solid $borderColor;
        }
    }

    ul ul {
        li {
            &:last-child {
             border-bottom: 0;
            }
        }
    }


    a {
        color: #333;
        padding: .6rem 0;
        display: block;
        &:hover {
            color: $mainColor;
        }
    }
}